body {
	background-image: url("../images/gamebg.png");
	background-repeat: repeat;
	margin-top: 20px;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
}
button {
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
}
h1 {
	font-size: 40px;
	font-weight: bold;
	padding: 50px 0px 20px 0px;
}
h6 {
	font-weight: bold;
	display:inline-block;
}
p{
	line-height: 25px;
	display: inline-block;
}
.wrapping {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}
#gamebox {
	position:relative;
	width: 900px;
	height: 550px;
	background-color: rgb(254,243,244);
	border-radius: 25px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 15px;
}
#startimage {
	display: inline-block;
	margin: 20px;
	width: 258px;
	height: 298px;
	background-image: url("../images/momgif.gif");
	background-repeat: repeat;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
#choice1 {
	display: inline-block;
	text-align: center;
	width: 180px;
	height: 150px;
	margin: 10px;
}
#choice2 {
	display: inline-block;
	text-align: center;
	width: 180px;
	height: 150px;
	margin: 10px;
}
#choice3 {
	display: inline-block;
	text-align: center;
	width: 180px;
	height: 150px;
	margin: 10px;
}
#choice4 {
	display: inline-block;
	text-align: center;
	width: 180px;
	height: 150px;
	margin: 10px;
}
#eggtimer {
	position: absolute;
	bottom: 20px;
	left: 375px;
}
#winlose {
	background-color: blue;
}